<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>域名SEO后台管理 -- Powered by Marsn9</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Admin/Index_home.css"/>
</head>
<body>
    <div class="shortcut box">
        <div class="w_title">快捷方式</div>
        <div class="w_body">
            <ul>
                <li><a href="#"><div class="circle"><span class="icon-plus-2"></span></div><em>添加域名</em></a></li>
                <li><a href="#"><div class="circle"><span class="icon-article"></span></div><em>我的域名</em></a></li>
                <li><a href="#"><div class="circle"><span class="icon-wrench"></span></div><em>系统设置</em></a></li>
            </ul>
        </div>
    </div>
    <div class="domain_info box">
        <div class="w_title">域名信息</div>
        <div class="w_body">
            <ul>
                <li>域名总数：<span>102</span></li>
                <li>COM域名：<span>30</span></li>
                <li>NET域名：<span>21</span></li>
                <li>CN域名：<span>29</span></li>
            </ul>
        </div>
    </div>
    <div class="sys_info box">
        <div class="w_title">系统基本信息</div>
        <div class="w_body">
            <ul>
                <li>PHP版本：<span>5.2.3</span></li>
                <li>安全模式：<span>ON</span></li>
                <li>支持最大上传文件：<span>20M</span></li>
                <li>是否允许远程连接：<span>ON</span></li>
            </ul>
        </div>
    </div>
    <div class="aboutus box">
        <div class="w_body">Copyright © 2012-2015
            Dino9. @Hi我叫小明 版权所有 </div>
    </div>
</body>
</html>