<!DOCTYPE html>
<html>
<head>
    <title>域名SEO后台管理 -- Powered by Marsn9</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Base.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Form.css"/>
    <script type="text/javascript" src="__PUBLIC__/Js/jQuery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Base.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Form.js"></script>
</head>
<body>
<div class="body">
    <div class="main">
        <form class="form" action="#">
            <div class="title">域名管理 - 导入域名</div>
            <div class="row"><label>文&nbsp;件：</label><input type="file" name="file"/><span class="note">仅支持从TXT或CSV文件导入。</span></div>
            <div class="btnRow"><input type="submit" class="ajaxBtn" value="提交"/></div>
        </form>
    </div>
</div>
</body>
</html>