<!DOCTYPE html>
<html>
<head>
    <title>域名SEO后台管理 - Powered by Marsn9</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Base.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Form.css"/>
    <script type="text/javascript" src="__PUBLIC__/Js/jQuery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Base.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Form.js"></script>
</head>
<body>
<div class="body">
    <div class="main">
        <form class="form" action="{:U('Domain/categoryAdd?id=' . $data['thisCategory']['id'])}">
            <div class="title">域名管理 - 域名分类管理 - 添加分类<a class="btnOrange" href="{:U('Domain/category')}">返回</a></div>
            <div class="row"><label>分类名称：</label><input type="text" name="name" value="{$data.thisCategory.name}" required="required"/></div>
            <div class="row">
                <label>父级分类：</label>
                <select name="parent">
                    <option value="0">顶级分类</option>
                    <foreach name="data['categories']" item="i">
                    <if condition="$data['thisCategory']['id'] neq $i['id']">
                    <option value="{$i.id}"<if condition="$data['thisCategory']['parent'] eq $i['id']"> selected="selected"</if>>{$i.intend}{$i.name}</option>
                    </if>
                    </foreach>
                </select>
            </div>
            <div class="row"><label>关键词：</label><input type="text" name="keyword" value="{$data.thisCategory.keyword}" placeholder="请以英文‘逗号’分隔各关键词。"/></div>
            <div class="row"><label>分类介绍：</label><textarea name="desc">{$data.thisCategory.desc}</textarea></div>
            <div class="row"><label>排序：</label><input type="text" name="sort" value="{$data.thisCategory.sort}"/><span class="note">存在父级分类时排序从“0”计算。</span></div>
            <div class="btnRow"><input type="submit" class="ajaxBtn" value="确认"/><a class="btnGray" href="Javascript:history.go(-1);">取消</a></div>
        </form>
    </div>
</div>
</body>
</html>