<!DOCTYPE html>
<html>
<head>
    <title>域名SEO后台管理 - Powered by Marsn9</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Admin/Domain_bulk.css"/>
    <script type="text/javascript" src="__PUBLIC__/Js/jQuery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/uploadPreview.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ajaxFileUpload.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Base.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Table.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Form.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Admin/Domain_bulk.js"></script>
    <script type="text/javascript">
        $uploadUrl = "{:U('Domain/upload')}";
    </script>
</head>
<body>
<div class="body">
    <div class="main">
        <if condition="$data['domain'] neq '1'">
        <form class="form" method="post" action="{:U('Domain/bulk')}">
            <div class="title">域名管理 - 批量添加域名</div>
            <div class="row"><label>域　　名：</label><textarea name="domains" placeholder="每行一个域名，最多50个，格式为：域名+[分隔符]+简单描述"></textarea></div>
            <div class="row"><label>分隔符：</label>
                <input type="radio" id="comma" name="separator" value="1" checked/>&nbsp;<label for="comma">,</label>
                <input type="radio" id="pipeline" name="separator" value="2"/>&nbsp;<label for="pipeline">|</label>
                <input type="radio" id="space" name="separator" value="3"/>&nbsp;<label for="space">[空格]</label>
            </div>
            <div class="btnRow"><input type="submit" value="下一步"/></div>
        </form>
        <else/>
        <form action="#">
            <table class="table">
                <caption>域名管理 - 批量添加域名</caption>
                <thead>
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>域名</td>
                        <td>简介</td>
                        <td>关键词<span class="note">英文','分隔</span></td>
                        <td>缩略图</td>
                        <td>
                            <select multiple="multiple">
                                {$data.categoriesHtml}
                            </select>
                        </td>
                        <td><input type="text" placeholder="批量价格"/></td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                <foreach name="data['domains']" item="i">
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>{$i.domain}<input type="hidden" name="domain[]" value="{$i.domain}"/></td>
                        <td><textarea name="desc[]">{$i.desc}</textarea></td>
                        <td><input type="text" name="keyword[]" placeholder="以半角&quot;逗号&quot;分隔关键词。"/></td>
                        <td><input type="file" name="pic[]"/></td>
                        <td>
                            <select name="category_{$i.num}[]" multiple="multiple" required="required">
                                {$data.categoriesHtml}
                            </select>
                        </td>
                        <td><input type="text" name="price[]" placeholder="议价填&quot;0&quot;"/></td>
                        <td><a class="btnGray del" href="#">删除</a></td>
                    </tr>
                </foreach>
                    <tr>
                        <td colspan="8"><input type="submit" class="ajaxBtn" value="确认添加"/><a class="btnGray" href="Javascript:history.go(-1);">上一步</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
        </if>
    </div>
</div>
</body>
</html>