<!DOCTYPE html>
<html>
<head>
    <title>域名SEO后台管理 - Powered by Marsn9</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Base.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Form.css"/>
    <script type="text/javascript" src="__PUBLIC__/Js/jQuery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/uploadPreview.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/ajaxFileUpload.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Base.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Form.js"></script>
    <script type="text/javascript">
        $uploadUrl = "{:U('Domain/upload')}";
    </script>
</head>
<body>
<div class="body">
    <div class="main">
        <form class="form" action="{:U('Domain/add?id=' . $data['thisDomain']['id'])}" enctype="multipart/form-data">
            <div class="title">域名管理 - <if condition="I('get.id') neq ''">编辑域名<a href="{:U('Domain/my')}" class="btnOrange">返回</a><else/>添加域名</if></div>
            <div class="row"><label>域　　名：</label><input type="text" name="domain" value="{$data.thisDomain.domain}" required="required"/><input type="hidden" name="id" value="{$data.thisDomain.id}"/></div>
            <div class="row"><label>简　　介：</label><textarea name="desc">{$data.thisDomain.desc}</textarea></div>
            <div class="row"><label>关键词：</label><input type="text" name="keyword" placeholder="请以半角“逗号”分隔各关键词。" value="{$data.thisDomain.keyword}"/></div>
            <div class="row"><label>缩略图：</label><input type="file" name="pic" data-src="{$data.thisDomain.pic}"/></div>
            <div class="row"><label>分　　类：</label>
            <foreach name="data['categories']" item="i">
                <input required="required" type="checkbox" name="category[]" value="{$i.id}" id="category_{$i.id}"<if condition="$i['selected'] eq '1'"> checked="checked"</if>/><label for="category_{$i.id}">{$i.name}</label>
            </foreach>
            </div>
            <div class="row"><label>出售价格：</label><input type="text" name="price" placeholder="议价填“0" value="{$data.thisDomain.price}"/></div>
            <div class="btnRow"><input type="submit" class="ajaxBtn" class="ajaxBtn" value="确认"/><if condition="I('get.id') neq ''"><a href="#" class="btnOrange cancel">取消</a></if></div>
        </form>
    </div>
</div>
</body>
</html>