<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>域名SEO管理后台 - Powered by Marsn9</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Base.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Form.css"/>
    <script type="text/javascript" src="__PUBLIC__/Js/jQuery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Base.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Form.js"></script>
</head>
<body>
    <div class="main">
        <form class="form" action="#">
            <div class="title">SEO - 首页设置</div>
            <div class="row">
                <label>首页&nbsp;Title：</label>
                <input type="text" name="title" value="{$data.title}" placeholder="不填写则采用米表名称。"/>
            </div>
            <div class="row">
                <label class="tipst">首页&nbsp;Keyword：<div class="tips">位于全局&nbsp;Keyword&nbsp;之后，二级关键词。</div></label>
                <input type="text" name="keyword" value="{$data.keyword}" placeholder="请以半角“逗号”分隔各个关键词。"/>
            </div>
            <div class="row">
                <label>首页&nbsp;Meta&nbsp;介绍：</label>
                <textarea name="meta_desc" placeholder="不填写则采用米表介绍。">{$data.meta_desc}</textarea>
            </div>
            <div class="row">
                <label class="tipst">动态布局周期：<div class="tips">首页更新布局内容，请视蜘蛛采集情况选择适当的更新周期。</div></label>
                <input type="radio" id="layout_5" name="layout" value="0.5"<if condition="$data['layout'] eq '0.5'"> checked="checked"</if>/> <label for="layout_5">12小时</label>
                <input type="radio" id="layout1" name="layout" value="1"<if condition="$data['layout'] eq '1'"> checked="checked"</if>/> <label for="layout1">1天</label>
                <input type="radio" id="layout3" name="layout" value="3"<if condition="$data['layout'] eq '3'"> checked="checked"</if>/> <label for="layout3">3天</label>
                <input type="radio" id="layout7" name="layout" value="7"<if condition="$data['layout'] eq '7'"> checked="checked"</if>/> <label for="layout7">7天</label>
            </div>
            <div class="row">
                <label class="tipst">显示分类：<div class="tips">仅显示该分类直属域名，子分类域名不予显示。</div></label>
                <foreach name="data['category']" item="vo">
                    <input type="checkbox" id="category_{$vo.id}" name="category[]" value="{$vo.id}"<if condition="$vo['checked'] eq '1'"> checked="checked"</if>/> <label for="category_{$vo.id}">{$vo.name}</label>&nbsp;
                </foreach>
            </div>
            <div class="row">
                <label>每分类显示数目：</label>
                <input type="radio" id="category_num_10" name="category_num" value="10"<if condition="$data['category_num'] eq '10'"> checked="checked"</if>/> <label for="category_num_10">10</label>
                <input type="radio" id="category_num_15" name="category_num" value="15"<if condition="$data['category_num'] eq '15'"> checked="checked"</if>/> <label for="category_num_15">15</label>
                <input type="radio" id="category_num_20" name="category_num" value="20"<if condition="$data['category_num'] eq '20'"> checked="checked"</if>/> <label for="category_num_20">20</label>
                <input type="radio" id="category_num_25" name="category_num" value="25"<if condition="$data['category_num'] eq '25'"> checked="checked"</if>/> <label for="category_num_25">25</label>
                <input type="radio" id="category_num_30" name="category_num" value="30"<if condition="$data['category_num'] eq '30'"> checked="checked"</if>/> <label for="category_num_30">30</label>
            </div>
            <div class="row">
                <label>Stiemap&nbsp;链接：</label>
                <input type="radio" id="sitemap_on" name="sitemap" value="1"<if condition="$data['sitemap'] eq '1'"> checked="checked"</if>/> <label for="sitemap_on">显示</label>
                <input type="radio" id="sitemap_off" name="sitemap" value="0"<if condition="$data['sitemap'] eq '0'"> checked="checked"</if>/> <label for="sitemap_off">不显示</label>
            </div>
            <div class="row">
                <label>联系方式保护：</label>
                <input type="radio" id="contact_protect_on" name="contact_protect" value="1"<if condition="$data['contact_protect'] eq '1'"> checked="checked"</if>/> <label for="contact_protect_on">开启</label>
                <input type="radio" id="contact_protect_off" name="contact_protect" value="0"<if condition="$data['contact_protect'] eq '0'"> checked="checked"</if>/> <label for="contact_protect_off">关闭</label>
            </div>
            <div class="row">
                <label>友情链接：</label>
                <input type="radio" id="link_on" name="link" value="1"<if condition="$data['link'] eq '1'"> checked="checked"</if>/> <label for="link_on">显示</label>
                <input type="radio" id="link_off" name="link" vlaue="0"<if condition="$data['link'] eq '0'"> checked="checked"</if>/> <label for="link_off">不显示</label>
            </div>
            <div class="btnRow">
                <input type="submit" class="ajaxBtn" value="保&nbsp;存"/>
            </div>
        </form>
    </div>
</body>
</html>