<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>域名SEO后台管理 -- Powered by Marsn9</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Base.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Form.css"/>
    <script type="text/javascript" src="__PUBLIC__/Js/jQuery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Base.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Js/Form.js"></script>
</head>
<body>
    <div class="main">
        <form class="form" action="{:U('Setting/linkAdd')}">
            <if condition="$data"><input type="hidden" name="id" value="{$data.id}"/></if>
            <div class="title">系统设置 - 友情链接管理 - 添加友链<a class="btnOrange" href="{:U('Setting/link')}">返回</a></div>
            <div class="row">
                <label>友链名称：</label>
                <input type="text" name="name" required="required" value="{$data.name}"/>
            </div>
            <div class="row">
                <label>友链地址：</label>
                <textarea name="url" required="required"><if condition="$data['url']">{$data.url}<else/>http://</if></textarea>
            </div>
            <div class="rowBtn">
                <input type="submit" class="ajaxBtn" value="确&nbsp;认"/> <a class="btnGray" href="Javascript:history.go(-1);">取&nbsp;消</a>
            </div>
        </form>
    </div>
</body>
