#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(\d*)$ index.php/Index/index/cat/$1 [QSA,PT,L]
#RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
#
<IfModule mod_rewrite.c>
RewriteEngine on

#域名跳转
RewriteCond %{HTTP_HOST} !^(127.0.0.10|www.huitaomi.com) [NC]
RewriteCond %{HTTP_HOST} !^www\..* [NC]
RewriteRule ^(.*)$ www.huitaomi.com/www\.%{HTTP_HOST} [L,R=301]

RewriteCond %{HTTP_HOST} !^(127.0.0.10|www.huitaomi.com) [NC]
RewriteCond %{HTTP_HOST} ^www\..* [NC]
RewriteRule ^(.*)$ www.huitaomi.com/%{HTTP_HOST} [L,R=301]

RewriteCond %{REQUEST_URI} ^/www\..*$ [NC]
RewriteRule ^www\.(.*)$ /$1 [R=301,NC,L]

RewriteCond %{REQUEST_URI} ^/([a-z0-9][-a-z0-9]{0,62}(\.[a-z0-9][-a-z0-9]{0,62})+)$ [NC]
RewriteCond %{REQUEST_URI} !^/(.*\.(html|php|htm)) [NC]
RewriteRule ^([a-z0-9][-a-z0-9]{0,62}(\.[a-z0-9][-a-z0-9]{0,62})+)$ index.php/Domain/detail/domain/$1 [NC,L]

#域名分类
RewriteCond %{HTTP_HOST} ^(127.0.0.10|www.huitaomi.com) [NC]
RewriteRule ^(\d+)$ index.php/Index/index/cat/$1 [QSA,PT,L]

#最终容错去index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>