@CHARSET "UTF-8";
html, body {
    background: #99CCFF;
}
/*基本表格样式*/
.table {
    width: 90%;
    border-collapse:collapse;
    margin: 0 auto;
}
.table caption {
    font-size: 16px;
    font-weight: bolder;
    color: #FFF;
    text-align: left;
    margin: 10px;
    left: -5%;
}
.table caption a {
    margin: 0 0 -5px !important;
    float: right;
    right: -10%;
}
.table thead {
    color: #FFFFCC;
}
.table tbody {
    color: #333;
}
.table tr {
    border: 1px solid #FFF;
    border-left: none;
    border-right: none;
    -webkit-transition: none;-moz-transition: none;-ms-transition: none;-o-transition: none;transition: none;
}
.table td {
    vertical-align: middle;
    padding: 10px;
}
.table .page {
    width: 40%;
    float: right;
}
.table .page a, .table .page span {
    float: left;
}
