@CHARSET "UTF-8";
@import "../Base.css";
* {
    position: relative;
}
/* header */
.header {
    width: 80%;
    height: 100px;
    padding-top: 20px;
    margin: 0 auto;
}
.logo {
    float: left;
}
.slogan {
    width: 500px;
    height: 100px;
    font-size: 16px;
    color: #666699;
    margin: 0 auto;
}
.contact {
    padding-top: 20px;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
}
.contact li {
    color: #FF9900;
    height: 30px;
}
.contact span {
    color: #FF6600;
}
.contact span a {
    display: inline;
}
/* 导航 */
.nav {
    position: absolute;
    top: 120px;
    height: 50px;
    z-index: 2;
    width: 100%;
    opacity: .95;
}
.nav ul {
    width: 80%;
    margin: 0 auto;
}
.nav li {
    z-index: 2;
    float: left;
    width: 10%;
    min-width: 64px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
}
.nav a {
    color: #FFF;
}
.nav .cur {
    z-index: 1;
    position: absolute;
    background-color: rgba(255,255,255,.3);
    .background: none;
    font-weight: bolder;
    font-size: 18px;
    transition: all 400ms cubic-bezier(.16, 1.23, .87, 1.18);
}
.nav li:hover {
.background: #99CCCC;
}
.nav li:nth-child(1):hover ~ .cur, .l0 {
    left: 0;
}
.nav li:nth-child(2):hover ~ .cur, .l1 {
    left: 10%;
}
.nav li:nth-child(3):hover ~ .cur, .l2 {
    left: 20%;
}
.nav li:nth-child(4):hover ~ .cur, .l3 {
    left: 30%;
}
.nav li:nth-child(5):hover ~ .cur, .l4 {
    left: 40%;
}
.nav li:nth-child(6):hover ~ .cur, .l5 {
    left: 50%;
}
.nav li:nth-child(7):hover ~ .cur, .l6 {
    left: 60%;
}
.nav li:nth-child(8):hover ~ .cur, .l7 {
    left: 70%;
}
.nav li:nth-child(9):hover ~ .cur, .l8 {
    left: 80%;
}
.nav li:nth-child(10):hover ~ .cur, .l9 {
    left: 90%;
}
.nav li.all a + div {
    top: 0;
    right: 120%;
    width: 250%;
}
.nav li.all a + div ul {
    width: 90%;
    top: 10px;
    overflow: visible;
    transition: all .3s;
    height: 0;
    opacity: 0;
    background: rgba(0,0,0,.5);
    padding: 0 5%;
}
.nav li.all:hover a + div ul {
    height: 200px;
    opacity: 1;
}
.nav li.all a + div ul li {
    display: block;
    height: 0;
    width: auto;
    opacity: 0;
    overflow: hidden;
    font-size: 0;
    -webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;
}
.nav li.all:hover a + div ul li {
    height: auto;
    opacity: 1;
    font-size: 1em;
}
.nav li.all:hover a + div ul li:hover a {
    -webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;
}
.nav li.all:hover a + div ul li:hover a {
    color: #F60;
}
.nav li.all a + div ul:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 28%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid;
    border-bottom-color: rgba(0,0,0,.5);
}
.nav span[class^="icon-"] {
     font-size: 20px;
     line-height: 20px;
 }

/* 页脚 */
.footer {
    margin: 20px;
    z-index: 3;
}
.links a:link {
    display: inline-block;
    width: 80px;
    height: 20px;
    line-height: 20px;
    color: #CCCCFF;
    transition: font-size .5s;
}
.links a:hover {
    font-size: 16px;
    font-weight: bolder;
}
.links a:visited {
    color: #CCCCFF;
}
.about {
    color: #3399CC;
}
.copyright {
    font-size: 16px;
    color: #666699;
    padding: 1em 0 1.5em;
}
.stat-code {
    display: none;
}