@CHARSET "UTF-8";
@import "../Base.css";
@import "../Table.css";
@import "../Form.css";

.table thead td:nth-child(1) {
    width: 5%;
}
.table thead td:nth-child(2) {
    width: 15%;
}
.table thead td:nth-child(3) {
    width: 25%;
}
.table thead td:nth-child(4) {
    width: 15%;
}
.table thead td:nth-child(5) {
    width: 10%;
}
.table thead td:nth-child(6) {
    width: 10%;
}
.table thead td:nth-child(7) {
    width: 10%;
}
.table thead td:nth-child(8) {
    width: 10%;
}

/* 批量输入框 */
.form textarea {
    height: 53px;
}
.form textarea:focus {
    height: 207px;
}