@CHARSET "UTF-8";
@import "../Base.css";
html, body {
    /*background: #99CCFF url("../../Img/admin_bg.png");*/
}
.box {
    width: 48%;
    height: 200px;
    color: #FFF;
    margin: .5%;
    padding: .5%;
    float: left;
    text-align: left;
}
.box .w_title {
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
    font-weight: bolder;
}
.box .w_body {
}
.box li {
    margin: 10px 50px;
}
/* 快捷方式 */
.shortcut {
    width: 98%;
}
.shortcut ul {
    text-align: center;
}
.shortcut li {
    width: 33%;
    height: 180px;
    margin: 0;
    float: left;
}
.shortcut a {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    color: #FFF;
    top: 45px;
}
.shortcut .circle {
    width: 70px;
    height: 70px;
    background: #FFF;
    border-radius: 35px;
    left: 10px;
}
.shortcut span {
    color: #99CCFF;
    font-size: 40px;
    left: 5px;
    line-height: 70px;
    top: 1px;
}
.shortcut em {
}
.aboutus {
    position: fixed;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    background: rgba(255, 255, 255, .8);
    border-radius: 10px;
    color: #99CCFF;
    font-weight: bold;
    padding: 6px 16px;
}