@CHARSET "UTF-8";
@import "../Base.css";
@import "../Table.css";
@import "../Form.css";

.table thead td:nth-child(1) {
    width: 10%;
}
.table thead td:nth-child(2) {
    width: 20%;
}
.table thead td:nth-child(3) {
    width: 30%;
}
.table thead td:nth-child(4) {
    width: 20%;
}
.table thead td:nth-child(5) {
    width: 20%;
}