<include file="Public:header"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Home/Domain_detail.css"/>
	<div class="main">
        <if condition="$domain['pic'] neq ''">
            <h1>{$domain['domain']}</h1>
            <div class="domain"><img src="{$domain['pic']}" alt="daifubao.com"></div>
            <p>{$domain['desc']}</p>
            <section>
                <div class="buy"><button id="chatonline">在线联系</button><button id="buynow">立即购买</button><button id="mailprice">邮件询价</button></div>
            </section>
        <else/>
            <span>{$domain['domain']|preg_replace='/\\..*/','',###}</span>
            <figure>
                <div>
                    <h1>{$domain['domain']}</h1>
                    <div class="buy"><button id="chatonline">在线联系</button><button id="buynow">立即购买</button><button id="mailprice">邮件询价</button></div>
                </div>
                <figcaption>
                    <span>{$domain['domain']}</span>
                    <span>{$domain['domain']}</span>
                    <p class="re-br"><if condition="$domain['desc'] neq ''">{$domain['desc']}<else/>该域名暂时还未添加简介</if></p>
                </figcaption>
            </figure>
        </if>
	</div>
    <div class="bidding">

    </div>
<include file="Public:footer"/>