<include file="Public:header"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/Js/Plugins/justifiedGallery.min.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/Home/Index_index2.css"/>
<script type="text/javascript" src="__PUBLIC__/Js/Plugins/jquery.justifiedGallery.min.js"></script>
<div class="photo-wall">
    <!--<div class="item-bar"></div>-->
    <foreach name="domainItem['cateItem']" item="category">
        <div class="domain-item">
            <h3>{$category['name']}</h3>
            <div class="domains">
                <if condition="count($domainItem[$category['id']]) neq 0">
                    <foreach name="domainItem[$category['id']]" item="domain">
                        <php>$r = rand(1, 6);</php>
                        <a href="/{$domain['domain']}" class="bd0{$r}" target="_blank">
                            <img src=<if condition="$domain['pic'] eq ''">"/Public/Img/none-img.png"<else/>"{$domain['pic']}"</if> />
                            <b class=<if condition="$domain['pic'] eq ''">"no-img"<else/>"img"</if>>{$domain['domain']}</b>
                            <p class=<if condition="$domain['pic'] eq ''">"no-img"<else/>"caption img"</if>>{$domain['desc']}</p>
                        </a>
                    </foreach>
                <else/>
                    <div class="no-domain">该分类下没有域名</div>
                </if>
            </div>
        </div>
    </foreach>
</div>
<script type="text/javascript">
    $(".domains").justifiedGallery({
        'rowHeight' : 240,
        'captions' : true,
        'target' : '_blank',
        'fixedHeight' : true,
        'lastRow' : 'justify',
        'margins' : 10
    });
</script>
<include file="Public:footer"/>